body {
    background-color: orange;
    background-image: url("../imatges/fondoP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color:rgb(248, 141, 40);
}

p {
    color: black;
}