body{
    background-color: rgb(0, 0, 0);
}
table {
    background-image: url("../imatges/fondoP.jpg");    
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}
td, th {
    color: aliceblue;
    background-color: rgba(153, 73, 199, 0.6);
    border: 1px solid white;
    padding: 15px;
}
h2 {
    color: white;
}